/* generics */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}


/* utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}


/* contents */

.even-cell {
    background-color: cornflowerblue;
}

.odd-cell {
    background-color: forestgreen;
}

.grid-cell {
    width: calc(100% / 10);
    height: 120px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid div {
    user-select: none;
}