/* generics */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: bisque;
}


/* utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.row {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}


/* contents */

#activation-button {
    padding: 10px 20px;
    background-color: grey;
    color: pink;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 20px;
    border: 1px solid black;
}

.even-cell {
    background-color: cornflowerblue;
}

.odd-cell {
    background-color: forestgreen;
}

.grid-cell {
    width: calc(100% / 10);
    height: 118px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid div {
    user-select: none;
}

/* effects */

#activation-button:hover {
    cursor: pointer;
}

#activation-button:active {
    transform: scale(0.95);
}